.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.rowItem {
  width: 100%;
}
.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
